html, body {
    height: 100vh;
    width: 100vw;
}

.container-fluid, .row-container {
    height: 100%;
    width: 100%;
}

.mapbox-widget {
    height: 600px;
    width: 920px;
}

.card-header {
    text-align: center;
    background-color: #a27568;
    color: white;
}

.card-text {
    text-align: center;
    font-size: 70px;
}

.hootside-title {
    width: 50%;
    text-align: center;
}

.holy-tree {
    background-image: url('/tree.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.stellarions {
    background-image: url('/badge-stellarions.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.connards {
    background-image: url('/badge-anestrials.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}