<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Greenesis realtime</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ asset('realtime.css') }}"/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet'/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
</head>
<body>
<div class="container-fluid">
    <br/>
    <div class="row row-container">


        <div class="col-md-6">
            {#ACTIVE VISITORS#}
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <img class="hootside-title" src="{{ asset('hootside-transparent.png') }}"/>
                </div>
            </div>

            <br>

            {#MAPBOX#}
            <div class="row">
                <div class="col-md-12 map-container">
                    <div id='map' class="mapbox-widget"></div>
                </div>
            </div>

        </div>


        <div class="col-md-6">

            {#REGISTERED VISITORS#}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="card-header">
                            Visiteurs enregistrés
                        </h3>
                        <div class="card-body">
                            <h1 class="card-text">
                                {{ registeredVisitors }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            {#ACTIVE EXP OBJ#}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="card-header">
                            Arbres plantés
                        </h3>
                        <div class="card-body">
                            <h1 class="card-text">
                                {{ activeExperienceObjectsCount }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            {#ACTIVE VISITOR ITEM#}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="card-header">
                            Objets utilisés (depuis 15 minutes)
                        </h3>
                        <div class="card-body">
                            <h1 class="card-text">
                                {{ activatedVisitorItems }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            {#ACTIVE VISITORS#}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="card-header">
                            Visiteurs actifs (depuis 15 minutes)
                        </h3>
                        <div class="card-body">
                            <h1 class="card-text">
                                {{ activeVisitorCount }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoiYW50b2luZWF1Z21lbnRlbyIsImEiOiJjam1xZWhzdjcwMjgyM3RtdXgyemhubW42In0.gvVRsTm2Tvo95V2nNfzKWg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/antoineaugmenteo/cjpleeyf703fj2sr72zcu6aj7',
        center: [-0.762508, 48.070297], // starting position [lng, lat]
        zoom: 13.5 // starting zoom
    });

    {% for visitorLine in activeVisitors %}
    var marker = new mapboxgl.Marker({color: '#e74c3c', anchor: 'left'})
        .setLngLat([
            {{ visitorLine.currentLongitude }}, {{ visitorLine.currentLatitude }}
        ])
        .addTo(map);
    {% endfor %}

    {% for experienceObject in activeExperienceObjects %}
    {% if experienceObject.creator == null %}
    var holyTree = document.createElement('div');
    holyTree.className = 'holy-tree';
    var marker = new mapboxgl.Marker({element: holyTree})
        .setLngLat([
            {{ experienceObject.longitude }}, {{ experienceObject.latitude }}
        ])
        .addTo(map);


    {% elseif experienceObject.creator.experienceTeam.id == 1 %} // if creator is a Stellarion member
    var stellarions = document.createElement('div');
    stellarions.className = 'stellarions';
    var marker = new mapboxgl.Marker({element: stellarions})
        .setLngLat([
            {{ experienceObject.longitude }}, {{ experienceObject.latitude }}
        ])
        .addTo(map);


    {% else %} // if visitorLine is an Ancestrial member
    // create a HTML element for each feature
    var connards = document.createElement('div');
    connards.className = 'connards';
    var marker = new mapboxgl.Marker({element: connards})
        .setLngLat([
            {{ experienceObject.longitude }}, {{ experienceObject.latitude }}
        ])
        .addTo(map);
    {% endif %}
    {% endfor %}
</script>
</body>
</html>